body {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(183, 241, 241);
}

h1 {
    font-size: 100px;
}

.mainframe {
    color: rgb(196, 84, 84);
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: rgb(196, 84, 84);
    text-decoration: none;
}

.frame {
    background-color: peachpuff;
    width: 500px;
    padding: 10px;
    color: brown;
    border-radius: 10px;
    border: 2px solid rgb(226, 105, 105);
}

img {
    width: 400px;
    margin-left: 48px;
    border-radius: 8px;
}